
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #333;
}

h2 {
  text-align: center;
  color: #f5f5f5;
}


.scroll{
  background-color: aliceblue;
  box-shadow: .1rem .2rem .3rem #333;
}
.scroll img{
  filter: invert(15%);
}           
.scroll h1{
  color: #141C29;
}

/* Estilos para el carrito de compras */


/* Estilos para los menús */




.menu-container {
  display: flex;
  color:#f5f5f5;
  justify-content:space-bet;
}

.menu 
{
  flex-basis: 45%;
  
  color:#f5f5f5;
  font-size: 16px;
  border: none;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.menu:hover {
  background-color: #eee;
}

/* Estilos para las imágenes */
.menu-image {
  display: block;
  width: 40%;
  height: 20%;
  margin-bottom: 10px;
}

#agregaralcarrito{
  color:#f5f5f5
}


#titulogrande{text-align: center;margin: 0vh;font: 'Lucida Handwriting';display:block;background-image: url("./fotos/FOTO TIT.png");background-size: cover;color:lightgray;font-size: 15vh; padding-top: 30vh ; padding-bottom: 30vh;}

.elemento{ margin:50vh 10vw}







/*BARRA MENU*/
  .active {
    background-color: #04AA6D;
  }

  #navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  .navli {
    float: left;
    background-color: #333
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vw;
    text-decoration: none;
    background-color: #333
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  #contacto {
    
    text-decoration: none;
    color:white
  }


#CONT{
  color: white;
}


  .location-container {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    background-color: white;
    justify-content: space-around;
  }
  
  .location {
    text-decoration: none;
    margin-bottom: 30vh;
    background-color: white;
  }
  
  .map {
    
    height: 2vh;
    width: 2vw;
    background-color: white;
    padding-right: 60vh;
    padding-top: 3vh;
    
  }

  .ubicacion {
    background-color: white;
    color:#333;
    font: 'Lucida Handwriting';
    font-size: 3vh;
    text-decoration: none;
    
  }

.imagen {
  height: 30vh;
    width: 40vw;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}