

#titulogrande{margin: 0vh;font: 'Lucida Handwriting';display:block;background-image: url("./fotos/FOTO TIT.png");background-size: cover;color:lightgray;font-size: 15vh; padding-left: 60vh;padding-top: 30vh ; padding-bottom: 30vh;}
/*CARRUSEL E SLO DE LAS FOTOS */
.elemento{ margin:50vh 10vw}

*{background-color:  #333 ;}





/*BARRA MENU*/
  .active {
    background-color: #04AA6D;
  }

  #navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  .navli {
    float: left;
    background-color: #333
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vw;
    text-decoration: none;
    background-color: #333
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  #contacto {
    
    text-decoration: none;
    color:white
  }


#CONT{
  color: white;
}


  .location-container {
    display: flex;
    flex-wrap: wrap;
    
    background-color: white;
    justify-content: space-around;
  }
  
  .location {
    
    margin-bottom: 30vh;
    background-color: white;
  }
  
  .map {
    
    height: 2vh;
    width: 2vw;
    background-color: white;
    padding-right: 60vh;
    padding-top: 3vh;
    
  }

  .ubicacion {
    background-color: white;
    font: 'Lucida Handwriting';
    font-size: 3vh;
    
    
  }

.imagen {
  height: 30vh;
    width: 40vw;
}
