@media screen and (max-width: 480px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #333;
  }

  h2 {
    text-align: center;
    color: #f5f5f5;
  }

  /* Styles for the cart content */
  #cart-content {
    position: static;
    margin-top: 20px;
    right: auto;
    width: 100%;
    color: #333;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
  }

  #cart-content h2 {
    margin-top: 0;
    color: #333;
  }

  #cart-items {
    list-style-type: none;
    padding: 0;
    color: #333;
  }

  #cart-items li {
    margin-bottom: 10px;
    color: #333;
  }

  #cart-total {
    font-weight: bold;
    color: #333;
  }

  .buy-button {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vw;
    text-decoration: none;
    background-color: #333;
  }

  #checkout-button {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vw;
    text-decoration: none;
    background-color: #333;
  }

  .menu-container {
    display: flex;
    color: #f5f5f5;
    justify-content: space-between;
  }

  .menu {
    flex-basis: 45%;
    color: #f5f5f5;
    font-size: 16px;
    border: none;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
  }

  .menu:hover {
    background-color: #eee;
  }

  /* Estilos para las imágenes */
  .menu-image {
    display: block;
    width: 40%;
    height: 20%;
    margin-bottom: 10px;
  }

  #titulogrande {
    text-align: center;
    margin: 0;
    font: 'Lucida Handwriting';
    display: block;
    background-image: url("./fotos/FOTO TIT.png");
    background-size: cover;
    color: lightgray;
    font-size: 15vh;
    padding-top: 30%;
    padding-bottom: 30%;
  }

  .elemento {
    margin: 50vh 10vw;
  }

  /*BARRA MENU*/
  .active {
    background-color: #04AA6D;
  }

  #navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .navli {
    float: left;
    background-color: #333;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vw;
    text-decoration: none;
    background-color: #333;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #contacto {
    text-decoration: none;
    color: white;
  }

  #CONT {
    color: white;
  }
  .location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: white;
  }
  
  .location {
    text-decoration: none;
    margin-bottom: 20px;
    background-color: white;
  }
  
  .map {
    height: 200px;
    width: 200px;
    background-color: white;
  }
  
  .ubicacion {
    background-color: white;
    color: #333;
    font: 'Lucida Handwriting';
    font-size: 16px;
    text-decoration: none;
  }
  
  .imagen {
    height: auto;
    width: 100%;
  }
}









/* Media queries for desktop screens */
@media (min-width: 768px) {
  /* Styles for desktop scree*/


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #333;
}

h2 {
  text-align: center;
  color: #f5f5f5;
}


/* Styles for the cart content */
#cart-content {
  position: absolute;
  top: 50px;
  right: 10px;
  color:#333;
  
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
}

#cart-content h2 {
  margin-top: 0;
  color:#333;
}

#cart-items {
  list-style-type: none;
  padding: 0;
  color:#333;
}

#cart-items li {
  margin-bottom: 10px;
  color:#333;
}

#cart-total {
  font-weight: bold;
  color:#333;
}

.buy-button {
  display: block;
  color: white;
  text-align: center;
  padding: 2vh 5vw;
  text-decoration: none;
  background-color: #333
}


#checkout-button {
  display: block;
  color: white;
  text-align: center;
  padding: 2vh 5vw;
  text-decoration: none;
  background-color: #333
}

.menu-container {
  display: flex;
  color:#f5f5f5;
  justify-content:space-between;
}

.menu 
{
  flex-basis: 45%;
  
  color:#f5f5f5;
  font-size: 16px;
  border: none;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.menu:hover {
  background-color: #eee;
}

/* Estilos para las imágenes */
.menu-image {
  display: block;
  width: 40%;
  height: 20%;
  margin-bottom: 10px;
}




#titulogrande{text-align: center;margin: 0vh;font: 'Lucida Handwriting';display:block;background-image: url("./fotos/FOTO TIT.png");background-size: cover;color:lightgray;font-size: 15vh; padding-top: 30vh ; padding-bottom: 30vh;}

.elemento{ margin:50vh 10vw}







/*BARRA MENU*/
  .active {
    background-color: #04AA6D;
  }

  #navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  .navli {
    float: left;
    background-color: #333
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vw;
    text-decoration: none;
    background-color: #333
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  #contacto {
    
    text-decoration: none;
    color:white
  }


#CONT{
  color: white;
}


  .location-container {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    background-color: white;
    justify-content: space-around;
  }
  
  .location {
    text-decoration: none;
    margin-bottom: 30vh;
    background-color: white;
  }
  
  .map {
    
    height: 2vh;
    width: 2vw;
    background-color: white;
    padding-right: 60vh;
    padding-top: 3vh;
    
  }

  .ubicacion {
    background-color: white;
    color:#333;
    font: 'Lucida Handwriting';
    font-size: 3vh;
    text-decoration: none;
    
  }

.imagen {
  height: 30vh;
    width: 40vw;
}
}



.floating-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.floating-form input {
  margin-bottom: 10px;
}

.floating-form button {
  margin-top: 10px;
}